<nav class="navbar navbar-inverse navbar-fixed-top helo" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="font-size: 48px;">SMS</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#/sclass">Assign Teacher</a>
                </li>
                <li>
                    <a>Welcome {{loginUser}}</a>
                </li>
                <li>
                    <a href="#/logout">Logout</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->           
    </div><!-- /.container -->
</nav>
<div class="panel panel-info">
<div class="panel-heading">Assign Teachers</div>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<div class="panel-body">
  <form name="form" ng-submit="assignTeacher()" role="form">
    <div class="form-group">
      <label class="control-label" for="exampleInputEmail1">Select Teacher</label>
      <select name="teacher_id" ng-model="teacher_id" onload="getTeacher()">
        <option value="">Please Select the Teacher</option>
        <option value="{{teacher._id}}" ng-repeat="teacher in teachers">{{teacher.teacher_id}}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label" for="exampleInputEmail1">Select Class</label>
      <select name="class_id" ng-model="class_id" onload="getClass()">
        <option value="">Please Select the Class</option>
        <option ng-repeat="class in classes" value="{{class.id}}">{{class.name}}</option>
      </select>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-danger" ng-disabled="form.$invalid">Create User</button>
    </div>
  </form>
</div>

